@media screen and (max-width: 767px) {
  header .left {
    padding-left: 50px;
  }

  main {
    .template {
      h1 {
        padding: 0;
      }
    }

    .pink{
      padding-top: 10px;
    }
  }


}

@media screen and (min-width: 768px) and (max-width: 920px) {
  header .left {
    padding-left: 50px;
  }

  main {
    .template {
      h1 {
        padding: 0;
      }
    }
  }
}

@media (min-width: 921px) and (max-width: 1199px) {

}